.burger {
  display: none;
  margin-left: 30px;

  @media (max-width: 1024px) {
    display: block;
  }
}

.burger__icon {
  position: relative;
  z-index: 4;

  width: 23px;
  height: 14px;
  margin-right: 2px;
  margin-top: 15px;

  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-top: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 2px;

    background-color: $black;
    transition: 0.5s transform, 0.5s background, 0.5s;
    will-change: transform;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 23px;
    height: 2px;

    background-color: $black;
    transition: 0.5s transform, 0.5s background, 0.5s;
    will-change: transform;
  }
}

.burger__icon span {
  position: absolute;
  top: 6px;
  left: 0;

  width: 23px;
  height: 2px;

  background-color: $black;
  transition: 0.5s opacity;
}
