.s-feature__list {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 20px;
  margin-left: 31px;
  margin-right: 31px;

  list-style: none;

  border-bottom: 1px solid #dbdbdb;

  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 22px;
    padding-bottom: 4px;
  }
}

.s-feature__item-wrapper {
  position: relative;

  display: inline-block;
}

.s-feature__item {
  display: flex;
  align-items: baseline;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 11px;
  }
}
